@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
    margin: 0%;
    text-align: center;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0%;
}

.row:after {
    content: "";
    display:flex;
    clear: both;
    flex-wrap: wrap;
    flex-direction: row;
}

.encabezado {
    margin: 0%;
    background-image: url(../img/desktop-wallpaper-black-gaming.jpg);
    display: flex;
    text-align: center;
    background-size:cover;
    height:100vh;
    width: 100%; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.explica {
    color:  white;
    font-size: 20px;
    padding: 5%;
}

.navbar {
    color: white;
    background-color: rgba(255, 255, 255, 0,5);
    width: 100%;
    margin: 0%;
}

.navbar-default {
    color: white;
    background-color: rgba(255, 255, 255, 0,5);
    width: 100%;
    margin: 0%;
}

.column2 {
    width: 50%;
    float: left;
    text-align: center;
}

.GTA{
    width: 100%;
}

.hollow {
    padding-top: 5%;
    padding-bottom: 2%;
}

.borde {
    border: 1px solid black;
}

.imagenes {
    width:500px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    height: 550px;
}

.link {
    text-decoration: none;
    color: black;
}

.column1 {
    width: 100%;
    float: left;
    text-align: center;
}

@media screen  and (max-width: 600px) {
    .column2 {
        width: 100%;
    }

    .imagenes {
        width: 300px;
        height: 350px;
    }
    
    .explica {
        font-size: 15px;
    }
}