@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
    margin: 0%;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0%;
}

.row:after {
    content: "";
    display:flex;
    clear: both;
    flex-wrap: wrap;
    flex-direction: row;
}

.encabezado {
    margin: 0%;
    background-image: url(../img/desktop-wallpaper-black-gaming.jpg);
    display: flex;
    text-align: center;
    background-size:cover;
    height:100vh;
    width: 100%; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.explica {
    color:  white;
    font-size: 20px;
    padding: 5%;
}

.navbar {
    color: white;
    background-color: rgba(255, 255, 255, 0,5);
    width: 100%;
    margin: 0%;
}

.navbar-default {
    color: white;
    background-color: rgba(255, 255, 255, 0,5);
    width: 100%;
    margin: 0%;
}