<!DOCTYPE html>
<html lang="en">
<head>
  <title>Elden Ring</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/style.videojocs.css">
  <link rel="shortcut icon" href="../img/elden.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TOP 5 VIDEOJUEGOS</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="../index.html">Home</a></li>
        <li><a href="./HollowknightSilksong.html">Hollow knight: Silksong</a></li>
        <li><a href="./Eldenring.html">Elden ring</a></li>
        <li><a href="./GTAV.html">GTA V</a></li>
        <li><a href="./RedDeadRedemption2.html">Red Dead Redemption 2</a></li>
        <li><a href="./Minecraft.html">Minecraft</a></li>
      </ul>
  </nav>
  </div>
    <div class="row"> 
      <p class="titulo"> Elden Ring</p>
      <p class="descripcion">Elden Ring es un videojuego de rol de acción desarrollado por FromSoftware y publicado por Bandai Namco Entertainment.</p>
        <div class="imagen">
          <img class="juego" src="../img/elden.jpg" alt=" imagen1">
          <p class="dinero">59,99€</p>
        </div>
        <p class="subtitulo"> Personajes:</p>
    </div> 
    <div class="row">
      <div class="column2">
        <p class="personaje1">Michael De Santa</p>
        <p class="texto1">Es uno de los tres protagonistas de Grand Theft Auto V. Es un exitoso ex-ladrón de bancos de la costa este, actualmente retirado. Tiene aproximadamente 45 años. Él vive en su lujosa mansión con su esposa Amanda, con quien no se lleva muy bien, y sus hijos Tracey y James a quienes no entiende.</p>
        <img class="imagen1" src="../img/michael.jpg" alt="imagen1">
      </div>
      <div class="column2">
        <p class="personaje1">Franklin Clinton</p>
        <p class="texto1">Franklin Clinton es uno de los tres protagonistas de Grand Theft Auto V. Es un joven ambicioso de 25 años que vivió en una pequeña casa en South Los Santos, junto a su tía Denise Clinton en el inicio del juego, y acabó viviendo en una mansión en Vinewood Hills. Trabajó para un vendedor de autos de lujo armenio llamado Simeon Yetarian. </p>
        <img class="imagen1" src="../img/franklin.jpg" alt="imagen1">
      </div>
      <div class="column2">
        <p class="personaje1">Trevor Philips</p>
        <p class="texto1">Trevor Philips es uno de los tres protagonistas de Grand Theft Auto V, Nacido en la frontera de Estados Unidos de América y Canadá vive en Sandy Shores, Blaine County junto al Alamo Sea.</p>
        <img class="imagen1" src="../img/trevor.jpg" alt="imagen1">
      </div>
      <div class="column2">
        <p class="personaje1">Lamar Davis</p>
        <p class="texto1">Un peregrino optimista en un viaje espiritual. El camino de Sherma a menudo se cruza con el de Hornet, pero su falta de combate y destreza acrobática lo pueden llevar a una necesidad desesperada de ayuda.</p>
        <img class="imagen1" src="../img/lamar.jpg" alt="imagen1">
      </div>
    </div>
    <div class="video">
      <p>Trailer</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/QkkoHAzjnUs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</body>