<!DOCTYPE html>
<html lang="en">
<head>
  <title>Eden Ring</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/style.videojocs.css">
  <link rel="shortcut icon" href="../img/elden.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="../index.html">TOP 5 VIDEOJUEGOS</a></li>
        <li><a href="./HollowknightSilksong.html">Hollow knight: Silksong</a></li>
        <li><a href="./Eldenring.html">Elden ring</a></li>
        <li><a href="./GTAV.html">GTA V</a></li>
        <li><a href="./RedDeadRedemption2.html">Red Dead Redemption 2</a></li>
        <li><a href="./Minecraft.html">Minecraft</a></li>
      </ul>
  </nav>
  </div>
    <div class="row"> 
      <p class="titulo"> Elden Ring</p>
      <p class="descripcion">Elden Ring es un videojuego de rol de acción desarrollado por FromSoftware y publicado por Bandai Namco Entertainment.</p>
        <div class="imagen">
          <img class="juego" src="../img/elden.jpg" alt=" imagen1">
          <p class="dinero">59,99€</p>
        </div>
        <p class="subtitulo"> Personajes:</p>
    </div> 
    <div class="row">
      <div class="column2">
        <p class="personaje1">Vagante</p>
        <p class="texto1">El Vagante es, básicamente, un caballero. Cuenta con una armadura decente y el mayor nivel de Vigor (vida) de inicio. Comenzará con una espada larga, una alabarda y un escudo.</p>
        <img class="imagen1" src="../img/vagante.jpg" alt="imagen1">
      </div>
      <div class="column2">
        <p class="personaje1">Guerrero</p>
        <p class="texto1">El Guerrero se presenta como un pícaro o rogue. Comienza su aventura con el nivel de Destreza de todos, lo que le permite empuñar fácilmente una Cimitarra en cada mano, haciendo mucho daño rápidamente al coste de no contar con mucha protección.</p>
        <img class="imagen1" src="../img/guerrero.jpg" alt="imagen1">
      </div>
      <div class="column2">
        <p class="personaje1">Héroe</p>
        <p class="texto1">El Héroe es el bárbaro. Ofrece el mayor nivel de Fuerza de todas las clases iniciales y tiene un hacha. Solamente le falta un garrote para dejar claro lo bárbaro que es.</p>
        <img class="imagen1" src="../img/heroe.jpg" alt="imagen1">
      </div>
      <div class="column2">
        <p class="personaje1">Bandido</p>
        <p class="texto1">En el Bandido vemos otro pícaro. No está tan especializado como el Guerero, pero su principal ventaja es que comenzará con un arco. Y eso en un Souls es una gran ventaja.</p>
        <img class="imagen1" src="../img/bandido.jpg" alt="imagen1">
      </div>
    </div>
    <div class="video">
      <p>Trailer</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/CptaXqVY6-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</body>