<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hollow knight: Silksong</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/style.videojocs.css">
  <link rel="shortcut icon" href="../img/Hollow.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TOP 5 VIDEOJUEGOS</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="../index.html">Home</a></li>
        <li><a href="./HollowknightSilksong.html">Hollow knight: Silksong</a></li>
        <li><a href="./Eldenring.html">Elden ring</a></li>
        <li><a href="./GTAV.html">GTA V</a></li>
        <li><a href="./RedDeadRedemption2.html">Red Dead Redemption 2</a></li>
        <li><a href="./Minecraft.html">Minecraft</a></li>
      </ul>
  </nav>
  </div>
     <div class="row">
        <img src="../img/Hollow.jpeg" alt="imagen1">
        <p class="precio"> 24.99€<p>
     </div>
     <div> 
        <p> Es un juego de acción y aventuras desarrollado y publicado por Team Cherry.
         Es una secuela del juego Hollow Knight, aclamado por la crítica, y presenta un nuevo personaje
          jugable llamado Hornet.</p>
     </div> 
     <div> 
        <p> Hornet: El protagonista del juego y un nuevo personaje jugable. Hornet es una hábil 
        guerrera y la princesa del reino de Pharloom. <p>
            <p> Lace: una polilla misteriosa que sirve como guía y aliada de Hornet durante
             todo el juego. <p>
            <p> Sharpe: una astuta araña que dirige una tienda en Pharloom, vendiendo artículos
             y mejoras para Hornet. </p>
             <p> Brindle: un herrero escarabajo que fabrica poderosas armas y equipos
             para Hornet.</p> 
             <p> Cloth: Un personaje que regresa del juego Hollow Knight original, Cloth
             es una valiente guerrera que ayuda a Hornet en su viaje.</p>
             <p> Las Hermanas de Batalla: Un grupo de poderosas y enigmáticas guerreras
             insectos que actúan como jefas en el juego.</p>
             <p> The Weaver: una reina araña que gobierna los profundos túneles 
            debajo de Pharloom.</p>
     </div> 
    <div> 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/N3vYpDIUyuY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</nav>