<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hollow knight: Silksong</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/style.videojocs.css">
  <link rel="shortcut icon" href="../img/Hollow.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="../index.html">TOP 5 VIDEOJUEGOS</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="./HollowknightSilksong.html">Hollow knight: Silksong</a></li>
        <li><a href="./Eldenring.html">Elden ring</a></li>
        <li><a href="./GTAV.html">GTA V</a></li>
        <li><a href="./RedDeadRedemption2.html">Red Dead Redemption 2</a></li>
        <li><a href="./Minecraft.html">Minecraft</a></li>
      </ul>
  </nav>
  </div>
    <div class="row"> 
      <p class="titulo">Hollow knight: Silksong</p>
      <p class="descripcion"> Es un juego de acción y aventuras desarrollado y publicado por Team Cherry.
        Es una secuela del juego Hollow Knight, aclamado por la crítica, y presenta un nuevo personaje
        jugable llamado Hornet.</p>
        <div class="imagen">
          <img class="juego" src="../img/hollow.jpg" alt=" imagen1">
          <p class="dinero">24.99€</p>
        </div>
        <p class="subtitulo"> Personajes:</p>
    </div> 
    <div class="row">
      <div class="column2">
        <p class="personaje1">Lace</p>
        <p class="texto1">Un esgrimista esbelto empuñando un alfiler dorado, el arma tradicional de Pharloom. Lace es un enemigo peligroso, cubierto de misterio, que se deleitará con la rápida y torpe desaparición de Hornet.</p>
        <img class="imagen1" src="../img/lace.jpg" alt="imagen1">
      </div>
      <div class="column2">
        <p class="personaje1">Shakra</p>
        <p class="texto1">Feroz e intimidante, Shakra es una guerrera que busca a su maestro, quien desapareció bajo extrañas circunstancias. El clan de Shakra son luchadores hábiles que pueden manejar a los suyos en las zonas salvajes del reino. Útil para Hornet, cada miembro del clan también afila un Craft-Skill y el dominio de la cartografía de Shakra será inestimable en la aventura de Hornet.</p>
        <img class="imagen1" src="../img/shakra.jpg" alt="imagen1">
      </div>
      <div class="column2">
        <p class="personaje1">Trobbio</p>
        <p class="texto1">Maestro del escenario, el pincel y la voz, la extravagante mariposa Trobbio busca la fama y la adoración en todo Pharloom.</p>
        <img class="imagen1" src="../img/trobbio.jpg" alt="imagen1">
      </div>
      <div class="column2">
        <p class="personaje1">Sherma</p>
        <p class="texto1">Un peregrino optimista en un viaje espiritual. El camino de Sherma a menudo se cruza con el de Hornet, pero su falta de combate y destreza acrobática lo pueden llevar a una necesidad desesperada de ayuda.</p>
        <img class="imagen1" src="../img/sherma.jpg" alt="imagen1">
      </div>
    </div>
    <div class="video">
      <p>Trailer</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yQxwbZsL14Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</body>    
