<!DOCTYPE html>
<html lang="en">
<head>
  <title>Minecraft</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/style.videojocs.css">
  <link rel="shortcut icon" href="../img/minecraft.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="../index.html">TOP 5 VIDEOJUEGOS</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="./HollowknightSilksong.html">Hollow knight: Silksong</a></li>
        <li><a href="./Eldenring.html">Elden ring</a></li>
        <li><a href="./GTAV.html">GTA V</a></li>
        <li><a href="./RedDeadRedemption2.html">Red Dead Redemption 2</a></li>
        <li><a href="./Minecraft.html">Minecraft</a></li>
      </ul>
  </nav>
  </div>
    <div class="row"> 
      <p class="titulo">Minecraft</p>
      <p class="descripcion"> Minecraft es un videojuego de construcción de tipo «mundo abierto» o sandbox creado originalmente por el sueco Markus Persson (conocido comúnmente como «Notch»), y posteriormente desarrollado por Mojang Studios (actualmente parte de Microsoft). Fue lanzado el 17 de mayo de 2009, y después de numerosos cambios, su primera versión estable «1.0» fue publicada el 18 de noviembre de 2011.</p>
        <div class="imagen">
          <img class="juego" src="../img/minecraft.jpg" alt=" imagen1">
          <p class="dinero">20.00€</p>
        </div>
        <p class="subtitulo"> Personajes:</p>
    </div> 
    <div class="row">
      <div class="column2">
        <p class="personaje1">Steve</p>
        <p class="texto1">Steve es un personaje ficticio de la franquicia de videojuegos Minecraft. Steve carece de una historia de fondo oficial de los desarrolladores de Minecraft, ya que pretende ser un avatar de jugador personalizable en lugar de ser un personaje predefinido.</p>
        <img class="imagen1 steve" src="../img/steve.png" alt="imagen1">
      </div>
      <div class="column2">
        <p class="personaje1">Creeper</p>
        <p class="texto1">El creeper es una criatura hostil común que se acerca sigilosamente al jugador y explota, destruyendo el entorno y dañando tanto al jugador como a otras criaturas dentro del radio de la explosión. Debido a su aspecto y peculiares características, el creeper es considerado un icono de Minecraft.</p>
        <img class="imagen1" src="../img/creeper.jpg" alt="imagen1">
      </div>
      <div class="column2">
        <p class="personaje1 minecraft">Zombie</p>
        <p class="texto1">El zombi (Zombie en inglés) es una criatura hostil común y no muerta.</p>
        <img class="imagen1" src="../img/zombie.jpg" alt="imagen1">
      </div>
      <div class="column2">
        <p class="personaje1">Esqueleto</p>
        <p class="texto1">El esqueleto (Skeleton en inglés) es una criatura hostil común y no muerta que va equipada con un arco y flechas.</p>
        <img class="imagen1" src="../img/esqueleto.jpg" alt="imagen1">
      </div>
    </div>
  <div class="video"> 
    <p> Trailer</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MmB9b5njVbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  </nav>