<!DOCTYPE html>
<html lang="en">
<head>
  <title>Red Dead Redemption 2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/style.videojocs.css">
  <link rel="shortcut icon" href="../img/reddead2.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="../index.html">TOP 5 VIDEOJUEGOS</a></li>
        <li><a href="./HollowknightSilksong.html">Hollow knight: Silksong</a></li>
        <li><a href="./Eldenring.html">Elden ring</a></li>
        <li><a href="./GTAV.html">GTA V</a></li>
        <li><a href="./RedDeadRedemption2.html">Red Dead Redemption 2</a></li>
        <li><a href="./Minecraft.html">Minecraft</a></li>
      </ul>
  </nav>
<div class="row"> 
  <p class="titulo">Red Dead Redemption 2</p>
  <p class="descripcion"> Red Dead Redemption 2 es un videojuego de acción-aventura western basado en el drama, en un mundo abierto y en perspectiva de primera y tercera persona,1​ con componentes para un jugador y multijugador.2​ Fue desarrollado por Rockstar Games. Es la precuela de Red Dead Redemption y el tercer juego de la saga Red Dead. Su fecha de lanzamiento fue el 26 de octubre de 2018 en las consolas PlayStation 4 y Xbox One. Fue lanzado en Microsoft Windows el 5 de noviembre de 2019</p>
    <div class="imagen">
      <img class="juego" src="../img/rdead2.jpg" alt=" imagen1">
      <p class="dinero">16.99€</p>
    </div>
    <p class="subtitulo"> Personajes:</p>
</div> 
<div class="row">
  <div class="column2">
    <p class="personaje1">Arthur Morgan</p>
    <p class="texto1">Arthur Morgan (1863 - 1899) es un personaje central de la saga Red Dead y protagonista de Red Dead Redemption 2. Se le considera uno de los cabecillas y principales miembros de la banda de Dutch van der Linde.</p>
    <img class="imagen1 steve" src="../img/arthur.jpg" alt="imagen1">
  </div>
  <div class="column2">
    <p class="personaje1">John Marston</p>
    <p class="texto1">John Marston (1873 - 1911) es el protagonista de Red Dead Redemption y Undead Nightmare y deuteragonista de Red Dead Redemption 2. Además, aparece como modelo de personaje multijugador en Mentirosos y Tramposos. Es interpretado por el actor Rob Wiethoff. </p>
    <img class="imagen1" src="../img/john.jpg" alt="imagen1">
  </div>
  <div class="column2">
    <p class="personaje1">Abigail Marston</p>
    <p class="texto1">Abigail Marston, nacida Abigail Roberts (1877 - 1914), es un personaje principal en Red Dead Redemption y secundario de Red Dead Redemption 2. Es madre de Jack Marston y esposa de John Marston, el protagonista del primer título. También aparece su modelo de personaje en el DLC Mentirosos y Tramposos.</p>
    <img class="imagen1" src="../img/abigail.jpg" alt="imagen1">
  </div>
  <div class="column2">
    <p class="personaje1">Jack Marston</p>
    <p class="texto1">John "Jack" Marston Jr. (1895 - ¿?) es un personaje central de la saga Red Dead, que actúa como deuteragonista en Red Dead Redemption y personaje secundario en Red Dead Redemption 2. Además, su modelo de personaje está incluído en el DLC Mentirosos y Tramposos.</p>
    <img class="imagen1" src="../img/jack.jpg" alt="imagen1">
  </div>
</div>

 <div class="video">
  <p>Trailer</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/MyaYlbizpvs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   </div>
</nav>
  